<div class="register-page">
    <div class="rectangle-group">
      <img class="rectangle-icon" alt="" src="../../../assets/img/rectangle-77@2x.png" />

      <div class="group-child1"></div>
      <div class="lorem-ipsum-is-simply-parent">
        <b class="lorem-ipsum-is">Lorem Ipsum is simply </b>
        <div class="lorem-ipsum-is1">Lorem Ipsum is simply</div>
      </div>
    </div>
    <div class="logo1" id="logoContainer">
      <div class="frame1">
        <img class="vector-icon1" alt="" src="../../../assets/img/vector.svg" />

        <img class="group-icon2" alt="" src="../../../assets/img/group.svg" />

        <img class="group-icon3" alt="" src="../../../assets/img/group1.svg" />
      </div>
    </div>
    <div class="frame-parent">
      <div class="welcome-to-revotech-parent">
        <div class="welcome-to-revotech">Welcome to RevoTech</div>
        <div class="instance-parent">
          <div class="log-in-wrapper">
            <div class="welcome-to-revotech prime-color">Log In</div>
          </div>
          <div class="log-in-container">
            <b class="log-in1">Register</b>
          </div>
        </div>
      </div>
      <div class="group-parent">
        <div class="rectangle-container">
          <div class="group-child2"></div>
          <div class="email-address">Email Address</div>
          <div class="enter-your-email">Enter your Email Address</div>
        </div>
        <div class="rectangle-container">
          <div class="group-child2"></div>
          <div class="email-address">User name</div>
          <div class="enter-your-email">Enter your User name</div>
        </div>
        <div class="rectangle-container">
          <div class="rectangle-parent1">
            <div class="group-child2"></div>
            <div class="email-address">Password</div>
            <div class="enter-your-email">Enter your Password</div>
          </div>
          <img
            class="invisible-1-icon"
            alt=""
            src="../../../assets/img/invisible-1.svg"
          />
        </div>
      </div>
      <div class="rectangle-parent2">
        <div class="group-child5"></div>
        <div class="register prime-color">Register</div>
      </div>
    </div>
  </div>

  <script>
    var logoContainer = document.getElementById("logoContainer");
    if (logoContainer) {
      logoContainer.addEventListener("click", function (e) {
        // Please sync "Landing Page" to the project
      });
    }
    </script>