<footer class="main">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 text-center">
        <div class="container-fluid  pt-3 pb-2">
          <ul class="footer-links">
            <li class="footer-text">
              <!-- <a  class="p-1 text-dark text-decoration-none mx-2">En</a> -->
              <a  class="p-1 text-dark text-decoration-none mx-2">Contact Us</a>
              <a  class="p-1 text-dark text-decoration-none mx-2">Help</a>
              <a  class="p-1 text-dark text-decoration-none mx-2">Term & Condition</a>
              <a  class="p-1 text-dark text-decoration-none">Privacy Policy</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  