<!-- <div>
    <hr>
    <h3>Collection page</h3>
    <div class="">
  
    </div>
    <div class="demo">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6" *ngFor="let image of images_list">
            <div class="box">
              <img [src]="'https://imgstockhub.in/get_image?filename=' + user + '/'+ image" alt="Williamson Image"
                width="100%" height="100px">
              <div class="box-content">
                <h3 class="title">{{image}}</h3>
              </div>
              <ul class="icon">
                <li (click)="imageDownload(user,image)"><a><i class="fa fa-search">D</i></a></li>
              </ul>
            </div>
          </div>


        </div>
        <div class="text-center p-5" *ngIf="images_list?.length <=0 ">
          images not found
        </div>
      </div>
    </div>


  </div> -->


<div class="text-end">
  <img src="../../../assets/img/bell.png" height="30px" alt="logo">


</div>

<div class="p-3">
  <div class="text-start " *ngIf="ReadyToUpload">

    <button class="btn btn-outline-dark add-dialog mt-5 mb-3 m-5 " (click)="openModel(content)"
      *ngIf="selected_collection">
      + New
    </button>
  </div>
  
<div class="progress-section text-start " data-aos="fade-left" data-aos-once="true" *ngIf="!ReadyToUpload">
  <div class="task-progress ">
    <p>Uploads : 
      <span>{{uploadData?.uploaded}}/{{uploadData?.total}}</span>
    </p>
    <progress class="progress progress1" [max]=" uploadData?.total" [value]="uploadData?.uploaded"></progress>
  </div>
  <div class="task-progress">
    <p>Processed :
      <span>{{ uploadData?.processed}}/{{uploadData?.total}}</span>
    </p>
    <progress class="progress progress3"[max]=" uploadData?.total" [value]="uploadData?.processed"></progress>
  </div>
</div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6" *ngFor="let image of images_list">
        <div class="our-team">
          <img [src]="'https://imgstockhub.in/get_image?filename=' + user + '/'+ image" alt=" Image" loading="lazy"
            height="100px" width="auto">
          <div class="team-content">
            <ul class="social-link">
              <span class="team-title">
                <a>{{image}}</a>
              </span>
            </ul>
            <a (click)="imageDownload(user,image)" class="read"><i class="fa fa-download"></i></a>
          </div>
        </div>
      </div>


    </div>
  </div>

  <ng-template #content let-modal>
    <div class="bg-aliceblue modal-div">
      <div class="modal-header">
        <h4>Add Image</h4>
        <span type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </span>
      </div>

      <div class="modal-body">
        <form role="form" name="vehicleForm">

          <div class="text-center">

            <img *ngIf="selectedImage" [src]="selectedImage " alt="Selected Image" width="50%" height="50%">
          </div>


          <div>

            <div *ngIf="!selectedImage" class="file-container">
              <div class="text-center">Drag File Here</div>

              <input class="form-control file" name="file" type="file" (change)="onFileSelected($event);" #fileInput1
                multiple />
            </div>


            <div class="text-center" *ngIf="selectedImage">
              <button type="submit" class="btn btn-primary my-4" (click)='onAdd(  modal);modal.dismiss("cross")'>
                Add Image
              </button>
            </div>
          </div>




          <!-- <span class="errors" *ngIf="errorMsg2" -->
          <!-- >*File should less then 1MB -->
          <!-- </span> -->

          <!-- <span class="errors" *ngIf="errorMsg">*{{ errorMsg }}</span> -->


          <!--          
                <button
                *ngIf="UpdateActivate"
                type="button"
                class="btn btn-danger my-4"
                (click)="onCancel(modal); "
                >
                cancel
            </button> -->

        </form>
      </div>

    </div>
  </ng-template>

</div>