<div class="body">

    <div class="main">
        <div class="container b-container" id="b-container" #containerB>
            <div class="form" id="a-form" >
                <h2 class="form_title title">Reset your password</h2>
                <div class="form__icons">
                </div>
                <input class="form__input mt-3" type="password" id="password" placeholder="New password" #password>
                <input class="form__input mt-3" type="text" id="confirm" placeholder="Confirm new Password" #confirmpassword>
                <div *ngIf="error2" class="error">*{{error2}} </div>

                <button class="form__button button submit prime-color" type="submit" (click)="submit(password.value,confirmpassword.value)">Reset Password</button>
            </div>
        </div>

        <div class="switch" id="switch-cnt" #switchCnt>
            <div class="switch__circle"></div>
            <div class="switch__circle switch__circle--t"></div>
            <div class="switch__container" id="switch-c1" #switch1>
                <h5 class="switch__title title">Dont worry</h5>
                <p class="switch__description description">Enter your user account's verified email address and we will send you a password reset link.
                    </p>
            </div>
         
        </div>
    </div>

</div>