<div class="p-3">
  <div class="text-start">

    <button class="btn  mt-5 mb-3 m-5  " *ngIf="!is_add_collection" (click)="onColletionAdd()"> +
        New </button>

    <!-- 

        <div>
          <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          <button class="btn btn-primary" type="button" id="button-addon2">Button</button>
        </div> -->



    <div *ngIf="is_add_collection " class=" text-end input input-group input-group-lg mb-3  mt-5 mb-3 m-5">

      <input type="text" class="form-control " placeholder="name" #collectionName>
      <button class="btn btn-outline-dark " type="button" (click)="addCollection(collectionName.value)">add</button>
    </div>
  </div>

  <!-- <div class="demo">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6" *ngFor="let collection of collection_list">
        <div class="box" (click)="onCollection(collection)">
          <img src="https://bestjquery.com/tutorial/hover-effect/demo403/images/img-1.jpg" alt="Williamson Image">
          <div class="box-content">
            <h3 class="title">{{collection.name}}</h3>
            <span class="post">{{collection?.images?.length || 0}} images</span>
          </div>
          <ul class="icon">
            <li (click)="onother()"><a><i class="fa fa-search"></i></a></li>
            <li (click)="onother()"><a><i class="fa fa-link"></i></a></li>
          </ul>
        </div>
      </div>


    </div>
    <div class="text-center p-5" *ngIf="collection_list.length <=0 ">
      Collections not found
    </div>
  </div>
</div> -->

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6" *ngFor="let collection of collection_list" (click)="onCollection(collection)">
        <div class="our-team">
          <img src="/public/download.jpeg" alt="">
          <div class="team-content">
            <ul class="social-link ">
              <h3 class="team-title">
                <a>{{collection.name}}</a>
                <small>{{collection?.images?.length || 0}} images</small>
              </h3>
            </ul>
            <div class="row sample">


            </div>
            <!-- <a href="#" class="read"><i class="fa fa-download"></i></a> -->
          </div>
        </div>
      </div>


    </div>
  </div>
</div>